@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@200;400 & family= Righteous & family= Sarala:wght@700 & display=swap');

body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #15161b;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 62px;
}

.principal{
    display: flex;
    justify-content: center;
}

.texto-principal-um{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 100px;
}

.texto-principal-h1{
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    margin-top: -18;
    margin-top: 20px;
    
}

.img-casal{
    width: 380px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}

.button{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    background-color: #1a7993;
    padding: 15px 60px;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
}