@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@200;400 & family= Righteous & family= Sarala:wght@700 & display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
body{
    background-color: #15161b;
}
.cabecalho{
  display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 130px;
    font-size: 45px;
}

.section-um{
    display: flex;
    justify-content: space-around;
}

.text-um{
    font-size: 25px;
    color: #fff;
    font-family: 'Oswald',sans-serif;
}

.text-principal{
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.button{
    background-color: #1a7993;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    padding: 20px 40px 20px 40px;
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
}

.text-secundario{
    display: flex;
    justify-content: center;
    font-family:'Oswald', sans-serif;
    font-size: 45px;
    color: #fff;
    margin-top: 265px;
}