@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@200;400 & family= Righteous & family= Sarala:wght@700 & display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
body{
    background-color: #15161b;
}
.cabecalho{
  display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 130px;
    font-size: 45px;
}

.section-um{
 display: flex;
 flex-direction: row;
 justify-content: center;
 font-family: 'Oswald',sans-serif;
 color: #fff;
 margin-left: 249px;
 margin-right: 235px;
}
.texto-principal{
    display: flex;
    flex-direction: column;
}
.text-um{
    font-size: 30px;
    font-weight: 400;
}

.text-principal{
    font-size: 68px;
    font-weight: 700;
}

.button{
    position: absolute;
    width: 448px;
    height: 97px;
    left: 228px;
    top: 730px;
    background: #1A7993;
    border-radius: 5px;
}

.imagem-principal{
    
}

